    body {
        text-align: center;
        overflow: auto;
    }
    
    .top-bg {
        background-image: url(../images/backgrounds/h_img.jpg);
        min-height: 500px;
        /* You must set a specified height */
        /* background-position: top bottom;*/
        background-position: fixed;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        background-color: transparent;
        text-align: center;
        color: white;
    }
    
    .services {
        background-image: url(../images/backgrounds/s_image.jpg);
        height: 500px;
        /* You must set a specified height */
        /* background-position: top bottom;*/
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: contain;
        background-color: transparent;
        text-align: center;
        color: white;
        /* You must set a specified height */
        /* background-position: top bottom;*/
        background-position: fixed;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        text-align: center;
        color: white;
    }
    
    .what-we-do {
        box-sizing: border-box;
    }
    
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }
    /* Clearfix (clear floats) */
    
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
    /* hiding what we do content on each icon*/
    
    #design,
    #dev,
    #product {
        display: none;
    }
    
    * {
        box-sizing: border-box;
    }
    
    .col-md-3 {
        float: left;
        width: 25%;
        padding: 3px;
    }
    
    .col-md-3 img {
        width: 400px;
        margin: 20px;
    }
    
    .contact-us {
        background-image: url(../images/backgrounds/c_image.jpg);
        height: 500px;
        /* You must set a specified height */
        /* background-position: top bottom;*/
        background-position: bottom;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: contain;
        background-color: transparent;
        text-align: center;
        color: white;
        /* You must set a specified height */
        /* background-position: top bottom;*/
        background-position: fixed;
        /* Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: cover;
        text-align: center;
        color: white;
    }
    
    input[type=text],
    input[type=email],
    #comment {
        background: transparent;
        color: white;
        font-size: 20px;
        font-family: 'Copse', serif;
    }
    
    .form-control::-webkit-input-placeholder {
        color: white;
    }
    
    #mouse-click {
        padding-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 50px;
    }
    
    body {
        margin: 0;
        padding: 0;
        background: #fff;
        font-family: sans-serif;
    }
    
    .portfolio {
        width: 1280px;
        margin: 70px auto 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .portfolio .work {
        position: relative;
        width: 300px;
        height: 300px;
        background: yellow;
        margin: 5px;
        box-sizing: border-box;
        display: inline-block;
    }
    
    .portfolio .work .imgwork {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio .work .imgwork img {
        transition: transform 2s;
    }
    
    .portfolio .work:hover .imgwork img {
        transform: scale(1.2);
    }
    
    .portfolio .work .details {
        position: absolute;
        top: 10px;
        left: 10px;
        bottom: 10px;
        right: 10px;
        background: rgba(255, 255, 255, 0.5);
        transform: scaleY(0);
        transition: transform .5s;
    }
    
    .portfolio .work:hover .details {
        transform: scaleY(1);
    }
    
    .portfolio .work .details .content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        padding: 15px;
        color: #fff;
    }
    
    .portfolio .work .details p {
        margin: 0;
        padding: 0;
        font-size: 20px;
        color: #fff;
    }